
#container{
    
}
.nav{
    background-color: yellow;
    display: flex;
    justify-content: space-around;
}
#a1{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}
div{
    height: 600px;
    width: 600px;
    
}