#HEAD1{
    font-size: 100px;
    font-family: "Bungee Spice", sans-serif;
     background-color: black;
     font-style: italic;
}
.para{
    font-weight: bold;
    color: red;
}
.head2{
    font-size: xx-large;
    font-family: "Funnel Sans", sans-serif;
    text-transform: lowercase;
    text-align: center;
}
/* .hlo{
background-color: rgb(202, 95, 95);
font-family: "Jaro", sans-serif;
font-size: xx-large;
} */

#shopping{
    background-color: rgb(233, 71, 98);
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 40px;
}